* {
  padding: 0;
  margin: 0;
}

/*Navigation*/
.navbar-custom {
    background-color: #880808;
    transition: background-color 0.5s ease-in-out;
}

.navbar-nav {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.navbar-nav.navbar-nav-hidden {
    opacity: 0;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-nav .nav-link:hover {
    color: #30170c !important;
}

.navbar-nav .nav-link.active {
    color: #30170c !important;
}

.nav-icons {
    display: inline-block;
}

.nav-icons a {
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

.nav-icons a:hover {
    color: #30170c;
}

.tagline {
    font-size: 24px;
    margin-top: 20px;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.navbar-visible {
  transform: translateY(0);
  transition: transform 0.3s;
}



/* Hero section using the rule of thirds */
.hero-section {
  display: flex;
  align-items: center;
  height: 690px;
  background-image: url('img/cover2.webp');
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 40px;
}

.slide-in {
  overflow: hidden;
}

.slide-in h1,
.slide-in h2 {
  position: relative;
  left: -100%;
  opacity: 0;
  animation: slide-in-animation 1s ease forwards;
}

@keyframes slide-in-animation {
  0% {
    left: -100%;
    opacity: 0;
}
  100% {
    left: 0;
    opacity: 1;
  }
}

#h2{
  color: floralwhite;
  font-size: 30px;
}

/* Photo section */
.photo-section {
  padding: 80px 0 220px;
  background-position: center;
  background: url('img/cover9.jpg');
  background-size: cover;
}

.photo-section h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.photo-section img {
  max-width: 100%;
  height: 400px;
}

.photo-section p.card-text {
  font-size: 18px;
  color: #fff;
}

.photo-section .text {
  margin-top: 50px;
}

.slide-right {
  animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
}
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Services section */
.services-section {
  padding: 80px 0;
  background: url('img/cover17.jpg');
  background-size: cover;
}

.services-section h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.slider-container {
  display: flex;
  justify-content: center;
}

.slider {
  display: inline-flex;
  
}

.slider .card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
}

.slider .card:last-child {
  margin-right: 0;
}

.slider .card-img-top {
  height: 300px;
  object-fit: cover;
}

.slider .card-body {
  padding: 10px;
  text-align: center;
}

.slider .card-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.slider .card-text {
  font-size: 14px;
  color: #000;
}


/* Contact Section */
#contact {
  background: url('img/cover15.jpg') no-repeat;
  background-size: cover;
  padding: 50px 0;
  color: #fff;
}

.contact-section {
  padding-top: 100px;
}

.contact-section a {
  color: #fff;
  text-decoration: none;
}

.btn-primary {
  background-color: #280000;
  border: none;
}

.btn-primary:hover {
  background-color: #b00;
  border: none;
  color: #000;
}

.neumorphic-input {
  background-color: #6c0000;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.05);
  transition: box-shadow 0.3s ease;
}

.neumorphic-input:focus {
  outline: none;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), -6px -6px 12px rgba(255, 255, 255, 0.1);
}

/* Custom styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

/* Footer Section */

.footer {
  background-color:#880808;
  height: 70px;
  padding-top: 10px;
  
}

.footer-links a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  color: white;
  font-size: 14px;
}

/* Video Section */

.video-section {
  margin: 0 auto;
  width: 100%;
  padding: 80px 100px 100px 200px;
  background-position: center;
  background: url('img/cover9.jpg');
  background-size: cover;
}

.video-section h2 {
  color: #fff;
}
